* {
  margin: 0;
  padding: 0;
}

.modal .modal-content {
  margin: auto;
  padding: 0.7em;
}

.modal .modal-content .close-btn {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #878787;
  background: #f2f3fb;
  padding: 1px 7px;
  cursor: pointer;
}

.submit-btn {
  background: #232b2b;
  color: #fff;
  border: none;
  outline: none;
}

.submit-btn:hover {
  color: #fff;
  background: #000;
  box-shadow: none;
}

.form-group input:focus {
  box-shadow: none;
  border: 1px solid #B0B0B0;
  outline: none;
}